field = document.getElementById("result")
alert = document.getElementById("alert")
<% if @cut.shortened_url %>
  alert.innerHTML = 'Here is the your shortened url! Star it on <a href="http://github.com/shlok007/cutrl">github</a> if you like it :)'
  field.style.color = "green"
  field.style.borderColor = "green"
  field.value = "http://cutrl.heroku.com/<%=@cut.shortened_url%>";
<% else %>
  alert.innerHTML = ""
  field.style.color = "red"
  field.style.borderColor = "red"
  <% if @cut.url.start_with?("http") %>
    field.value = "Oops! Seems like you mistyped the URL";
  <% else %>
    field.value = "Remember, a valid url always starts with 'http'";
  <% end %>
<% end %>
